<section class="mb-16 sm:mb-20 lg:mb-24">
    <h2 class="python-heading">
        <span class="self">self.</span><span class="method">Changelog</span>
    </h2>
    <p class="docstring">"""Recent news and update."""</p>
    <div class="space-y-8 sm:space-y-10">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-16 md:mr-6 text-gray-500 mb-2 md:mb-0">2026.06</div>
            <div class="flex-1 space-y-4">
                <div class="publication-item">
                    <p class="text-gray-900">One paper is accepted by ECCV 2026. Paper and code are coming soon.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="space-y-8 sm:space-y-10">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-16 md:mr-6 text-gray-500 mb-2 md:mb-0">2026.01</div>
            <div class="flex-1 space-y-4">
                <div class="publication-item">
                    <p class="text-gray-900">I worked as an imaging research engineer intern (AIGC)@VIVO-Shanghai.</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="mt-6 sm:mt-8">
        <a href="publications.html" class="text-primary hover:underline font-medium">View publications →</a>
    </div> -->
</section>