<section id="contact" class="mb-3 sm:mb-4">
    <div class="flex flex-wrap items-center justify-start gap-4">
        <a href="mailto:jiacong_fang@stu.pku.edu.cn" class="flex items-center gap-2 group">
            <div class="w-9 h-9 flex items-center justify-center border border-gray-200 rounded-full group-hover:border-primary group-hover:text-primary transition">
                <i class="ri-mail-line text-lg"></i>
            </div>
            <span class="text-sm text-gray-600 group-hover:text-primary">Email</span>
        </a>
        <a href="https://github.com/jiacongfang" target="_blank" class="flex items-center gap-2 group">
            <div class="w-9 h-9 flex items-center justify-center border border-gray-200 rounded-full group-hover:border-primary group-hover:text-primary transition">
                <i class="ri-github-line text-lg"></i>
            </div>
            <span class="text-sm text-gray-600 group-hover:text-primary">GitHub</span>
        </a>
        <!-- <a href="cv.html" class="flex items-center gap-2 group">
            <div class="w-9 h-9 flex items-center justify-center border border-gray-200 rounded-full group-hover:border-primary group-hover:text-primary transition">
                <i class="ri-file-text-line text-lg"></i>
            </div>
            <span class="text-sm text-gray-600 group-hover:text-primary">Curriculum Vitae</span>
        </a> -->
    </div>
</section>
